<div class="card" data-qa="character-card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{character.name}}</h6>

    <div class="row">
      <div class="col-sm-2" data-qa="gender-label">Gender:</div>
      <div class="col-sm-10" data-qa="gender">
        {{character.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-qa="birth-year-label">Birth year:</div>
      <div class="col-sm-10" data-qa="birth-year">
        {{character.birth_year}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-qa="eye-color-label">Eye color:</div>
      <div class="col-sm-10" data-qa="eye-color">
        {{character.eye_color}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-qa="skin-color-label">Skin color:</div>
      <div class="col-sm-10" data-qa="skin-color">
        {{character.skin_color}}
      </div>
    </div>
  </div>
</div>
