<div class="card" data-qa="planet-card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2" data-qa="population-label">Population:</div>
      <div class="col-sm-10" data-qa="population">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-qa="climate-label">Climate:</div>
      <div class="col-sm-10" data-qa="climate">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" data-qa="gravity-label">Gravity:</div>
      <div class="col-sm-10" data-qa="gravity">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
